@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background: url("./assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.calltoAction {
  background: url("./assets/images/callToAction.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Ubuntu", sans-serif;
}
.custom-font {
  font-family: "Roboto", sans-serif;
}
.sponsor {
  background: url("./assets/images/sponsor-bg.jpg");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.hover {
  border-bottom: 2px solid transparent;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.hover:hover {
  border-bottom: 2px solid rgb(233, 211, 86);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3a832;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3a832;
}

